#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  background-image: url(todd-trapani-background.jpg);
  background-size: 120vw;
  background-position: 10% 50%;
}

img {
  size: 10vw;
}

h1 {
  font-size: 3em;
}

h1,
h2,
h4 {
  color: white;
}

.flashcard {
  width: 35vw;
  height: 200px;
  background-color: white;
  font-size: 2vw;
  color: black;
  margin: 20px;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button:hover {
  cursor: pointer;
}
