#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: left;
}

body {
  background-image: url(/public/todd-trapani-background.jpg);
  background-size: 120vw;
  background-position: 10% 54%;
  background-attachment: fixed;
}

img {
  size: 10vw;
}

h1 {
  font-size: 3em;
}

h1,
h2,
h4 {
  color: white;
}

.flashcard {
  width: 35vw;
  height: 200px;
  background-color: white;
  font-size: 2vw;
  color: black;
  margin: 20px;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  height: 40px;
  width: 60px;
  font-size: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 7px solid white;
}

button:hover {
  cursor: pointer;
}

.button-container {
  display: flex;
  gap: 5px;
}

label {
  color: white;
}

input[type=text] {
  margin-bottom: 20px;
  margin-right: 10px;
  background-color: lightgray;
  border: none;
}

input[type=text]:focus {
  outline: none;
  background-color: white;
}

#wrong {
  border: 5px solid red;
  border-radius: 5px;
}

#correct {
  border: 5px solid lightgreen;
  border-radius: 5px;
}

.tallyContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.middleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 0.5;
}

.rightContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noShow {
  display: none;
}

.show {
  display: block;
}

.off {
  visibility: hidden;
}

.scoreboard {
  color: black;
  background-color: white;
  opacity: 0.8;
  padding: 0px 50px;
  border-radius: 7px;
  border: 3px solid #214e51;
  margin-top: 13vh;
}

.scoreTitle {
  font-size: 30px;
  line-height: 20px;
}

.scoreContents {
  font-size: 20px;
}

hr {
  padding: 0;
  margin: 0;
}

.scoreValue {
  font-weight: bold;
}