#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  background-image: url(todd-trapani-background.jpg);
  background-size: 120vw;
  background-position: 10% 50%;
}

h1 {
  font-size: 3em;
}

h1,
h2,
h4 {
  color: white;
}

.card {
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid black;
}

.card:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}
